*.pyc
*.nc
notebooks/synthetic_create/generated/
notebooks/synthetic_create/figures/*.png
!notebooks/synthetic_create/figures/synthetic_data.png
notebooks/processing/output/
notebooks/post_processing/figures/
notebooks/post_processing/data/
